.card-grid {
  border: 2px solid #ffffff; /* Orange border color */
  border-radius: 12px; /* Slightly rounded corners */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  width: 70vw;
  justify-items: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text inside cards */
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  
  padding: 40px;
  margin: 10px;
}
.dot-pattern-background {
  /* background-image: url('../assets/TrendSense-logos/dot.jpg'); */
  
  background-size: 50px 100px; /* Adjust the size of the dots */
  background-color: rgba(255, 142, 142, 0.3); /* Increase alpha value for more transparency */
}
.card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 12px;
 box-shadow: rgb(0 0 0 / 100%) 0px 5px 5px 5px;
  display: flex;
  opacity: 1 !important;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Occupy the full height of the card-grid */
    transition: transform 0.2s ease-in-out; /* Add a transition for smooth effect */

}



.card:hover {
  transform: translateY(-5px); /* Uplift the card by 5 pixels on hover */
}



.card-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

