.footer {
  color: rgb(138, 138, 138);
  font-weight:500;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 20px; /* Set a specific height for the footer */
  background-color: #f0f0f0; 
  font-size: small;
  font-family:Arial, Helvetica, sans-serif;
}
