.user-profile-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.user-header {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #414141;
  margin-bottom: 30px;
}

.user-icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details {
  flex-grow: 1;
}

.user-name {
  margin: 0;
}

.user-email {
  color: #777;
}

.past-orders-card {
  background-color: #736f6f;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 40px;
  margin-bottom: 15px;
}

.order-item {
  background-color: rgb(255, 174, 174);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.order-date,
.order-total {
  color: #424242;
  font-size: 14px;
}

.order-items {
  list-style-type: none;
  padding: 0;
}

.item-name {
  margin-right: 10px;
  font-weight: bold;
}

.item-price {
  color: #414141;
}
